TASK: ClassificationTask

DATASET:
  FEATURE_DATASET:
    TYPE: Vivqav2FeatureDataset
    BATCH_SIZE: 64
    WORKERS: 0
    FEATURE_PATH:
      FEATURES: features\vinvl_vinvl
      SCENE_TEXT: null
      IMAGE: data/vivqa_v2/images
  VOCAB:
    TYPE: VQAv2ClassificationVocab
    TOKENIZER: null
    MIN_FREQ: 1
    WORD_EMBEDDING: null
    WORD_EMBEDDING_CACHE: null
    BOS_TOKEN: <bos>
    EOS_TOKEN: <eos>
    PAD_TOKEN: <pad>
    UNK_TOKEN: <unk>
    IMG_TOKEN: <img>
    FEAT_TOKEN: <feat>
    BOX_TOKEN: <box>
    QUESTION_TOKEN: <question>
    ANSWER_TOKEN: <answer>
    JSON_PATH:
      TRAIN: data/vivqa_v2/vivqa_v2_train.json
      DEV: data/vivqa_v2/vivqa_v2_dev.json
      TEST: data/vivqa_v2/vivqa_v2_test.json
  JSON_PATH:
    TRAIN: data/vivqa_v2/vivqa_v2_train.json
    DEV: data/vivqa_v2/vivqa_v2_dev.json
    TEST: data/vivqa_v2/vivqa_v2_test.json

TRAINING:
  CHECKPOINT_PATH: saved_models
  LEARNING_RATE: 0.01
  WARMUP: 10000
  SCORE: CIDEr
  GET_SCORES: True
  PATIENCE: 5
  VERBOSE_SCORES:
    - CIDEr
    - BLEU
    - ROUGE
    - Accuracy
    - F1
    - Precision
    - Recall


TRAINING:
  CHECKPOINT_PATH: saved_models
  LEARNING_RATE: 0.01
  WARMUP: 10000
  SCORE: CIDEr
  GET_SCORES: True
  PATIENCE: 5
  VERBOSE_SCORES:
    - CIDEr
    - BLEU
    - ROUGE
    - Accuracy
    - F1
    - Precision
    - Recall

MODEL:
  ARCHITECTURE: SAAA
  NAME: saaa_hierarchiacal_region_x152++_faster_rcnn
  DEVICE: cuda
  D_MODEL: 512
  VISION_PROCESSOR:
    ARCHITECTURE: FeatureEmbedding
    D_FEATURE: 2048
    D_MODEL: 512
    DROPOUT: .1
  TEXT_PROCESSOR:
    ARCHITECTURE: HierarchicalFeaturesExtractor
    D_MODEL: 512
    D_EMBEDDING: 300
    N_GRAMS:
     - 1
     - 2
     - 3
     - 4
    DROPOUT: 0.1
    WORD_EMBEDDING: null
    WORD_EMBEDDING_CACHE: null
  ATTENTION:
    D_VISION: 512
    D_LANGUAGE: 512
    D_MODEL: 512
    DROPOUT: .1
    GLIMPSES: 2
